Package: com.dualpane.tweak
Name: DualPane
Version: 1.0.3
Architecture: iphoneos-arm64
Description: Bootstrap floating window and split-screen (icon swipe / long-press). iOS 15-16.5.1 rootless.
Maintainer: DualPane Contributors
Author: DualPane Contributors
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate (>= 0.9.7000), preferenceloader
Conflicts:
Homepage: https://github.com/blueskycrb/DualPane
